.spinner-container1 {
	display: flex;
	padding: 5rem;
	justify-content: center;
	align-items: center;
}

.spinner1 {
	min-width: 10rem;
	min-height: 10rem;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.spinner1::before,
.spinner1::after {
	border: 6.7px solid #000000;
	border-radius: 50%;
	position: absolute;
	content: "";
	display: block;
}

.spinner1::before {
	width: 33.6px;
	height: 33.6px;
	border-bottom-color: transparent;
	border-left-color: transparent;
	animation: spinner-1o3y8q 0.75s infinite linear reverse;
}

.spinner1::after {
	animation: spinner-1o3y8q 0.5s infinite linear;
	height: 56px;
	width: 56px;
	border-right-color: transparent;
	border-top-color: transparent;
}

@keyframes spinner-1o3y8q {
	to {
		transform: rotate(360deg);
	}
}
