@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.login-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	min-width: 50%;
}

.box {
	background: linear-gradient(
		to right,
		#f9b726,
		#f5823a,
		#f25742,
		#ee4556,
		#ec4787
	);
	font-family: "Poppins", sans-serif;
	display: flex;
	flex: 1fr 1fr;
	justify-content: center;
	align-items: center;
}

.red {
	font-weight: 500;
	color: red;
}
.red1 {
	font-weight: 500;
	color: rgb(255, 132, 0);
}
.green {
	font-weight: 500;
	color: rgb(55, 177, 55);
}
.container1 {
	border-radius: 10px;
	height: 60vh;
	color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-width: 67%;
}
.img-c {
	margin: 0;
	height: 100%;
	width: 70%;
}
.img1 {
	height: 100%;
	border-radius: 0px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 100%;
}

a {
	display: inline;
	color: #ffffff;
	text-decoration: none;
}

h1 {
	margin: 0 0 7%;
	font-size: 2px;
	text-wrap: wrap;
}
