.login-form {
	display: flex;
	flex-direction: column;
	width: 85%;
}

.inputF {
	background-color: #3c3b3b;
	border-radius: 5px;
	margin-bottom: 20px;
	height: 5vh;
	padding: 4px 8px;
	color: #ffffff;
	border: 1px solid #7a7a7a;
}
.inputF::placeholder {
	color: #ffffff;
	padding: 0 0px;
}

button {
	padding: 10px;
	margin-bottom: 20px;
	background-color: #2c68ff;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	letter-spacing: 2px;
}

button:disabled {
	background-color: #ccc;
	cursor: not-allowed;
}
